<div class="container">
        <h2>Department</h2>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Department</button>
        <table class="table table-striped" id="mytable">
          <thead>
            <tr>
              
              <th>Department Name</th>
              <th>Department Code</th>
              <th>Action</th>
              
            </tr>
          </thead>
          <tbody>
            <% results.forEach(function(result) { %>   
            <tr>
              <td><%= result.department_name %></td>
              <td><%= result.department_code %></td>
              <td>
                <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= result.id %>" data-department_name="<%= result.department_name %>" data-department_code="<%= result.department_code %>">Edit</a>
                <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= result.id %>">Delete</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    
        <!-- Add New Product Modal-->
          <form action="/savedepartment" method="post">
            <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Add New Department</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <div class="form-group">
                       <input type="text" name="department_name" class="form-control" placeholder="Department Name" required>
                   </div>
    
                   <div class="form-group">
                       <input type="text" name="department_code" class="form-control" placeholder="Department Code" required>
                   </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-primary">Save</button>
                 </div>
               </div>
             </div>
            </div>
         </form>
    
         <!-- Edit Product Modal-->
       <form action="/updatedepartment" method="post">
           <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                      <input type="text" name="department_name" class="form-control department_name" placeholder="Department Name" required>
                  </div>
    
                  <div class="form-group">
                      <input type="text" name="department_code" class="form-control department_code" placeholder="Department Code" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" name="id" class="product_id">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
           </div>
      </form>
    
         <!-- Delete Product Modal-->
           <form id="add-row-form" action="/deletedepartment" method="post">
              <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                             <h5 class="modal-title" id="myModalLabel">Delete Department</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                                                     <strong>Are You Sure To Delete This Data?</strong>
                        </div>
                        <div class="modal-footer">
                                                 <input type="hidden" name="id" class="form-control id" required>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                               <button type="submit" class="btn btn-success">Delete</button>
                        </div>
                           </div>
                 </div>
              </div>
          </form>
    
          <script>
            $(document).ready(function(){
                    //showing data to modal for edit record
              $('#mytable').on('click','.edit',function(){
                var department_name = $(this).data('department_name');
                var department_code = $(this).data('department_code');
                $('#EditModal').modal('show');
                $('.department_name').val(department_name);
                $('.department_code').val(department_code);
              });
                    //showing modal for  delete record
                    $('#mytable').on('click','.delete',function(){
                var product_id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.id').val(product_id);
              });
        
            });
        </script>
        