<div class="row">
    <div class="col-md-6">
          <table class="table table-striped">
                <tbody>
                   <tr>
                      <td colspan="1">
                         <form id="employee_info" onkeypress="return event.keyCode !=13;" onsubmit="return false;" class="well form-horizontal">
                            <fieldset>
                               <div class="form-group">
                                  <label class="col-md-4 control-label">Full Name</label>
                                  <div class="col-md-8 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="name" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
                                  </div>
                               </div>
                               <div class="form-group">
                                  <label class="col-md-4 control-label">Address</label>
                                  <div class="col-md-8 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="address" placeholder="Address"  class="form-control" required="true" value="" type="text"></div>
                                  </div>
                               </div>
                               <div class="form-group">
                                <label class="col-md-4 control-label">Phone Number</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="phone_no" placeholder="Phone Number" class="form-control" required="true" value="" type="text"></div>
                                </div>
                             </div>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Position</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="position" name="position" placeholder="Position" class="form-control" required="true" value="" type="text"></div>
                                </div>
                             </div>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Salary</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="salary" name="salary" placeholder="Salary" class="form-control" required="true" value="" type="text"></div>
                                </div>
                             </div>
                               <div class="form-group">
                                  <label class="col-md-4 control-label">Date of Enrollment</label>
                                  <div class="col-md-8 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="date" name="date_of_joining" placeholder="Starts at" class="form-control" required="true" value="" type="date"></div>
                                  </div>
                               </div>
                               <div class="form-group">
                                
                                <input class="btn btn-primary" id="addemployee">
                             </div>
                            </fieldset>
                         </form>
                      </td>
                    </tr>
                </tbody>
             </table>
    </div>    
    <div class="col-md-6">
       
<table class="table emp_table">
    <thead>
      <tr>
          <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Enrolled Date</th>
      </tr>
    </thead>

     

<%  employee_info.forEach(function(result){  %>
    <tr id="<%= result.id %>">
          <td><%= result.id  %></td>

   <td><%= result.name  %></td>
   <td><%= result.address  %></td>
   <td><%= result.phone_no  %></td>
   <td><%= result.position  %></td>
   <td><%= result.salary  %></td>
   <td><%= result.date  %></td>
   </tr>
<%  })  %>
  
    </table>

    </div>
   </div>

   <script>
   $(document).ready(function() {

// process the form
$('form').submit(function(event) {

    // get the form data
    // there are many ways to get this data using jQuery (you can use the class or id also)
    var formData = {
        'name'              : $('input[name=name]').val(),
        'email'             : $('input[name=email]').val(),
        'superheroAlias'    : $('input[name=superheroAlias]').val()
    };

    // process the form
    $.ajax({
        type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
        url         : 'process.php', // the url where we want to POST
        data        : formData, // our data object
        dataType    : 'json', // what type of data do we expect back from the server
                    encode          : true
    })
        // using the done promise callback
        .done(function(data) {

            // log data to the console so we can see
            console.log(data); 

            // here we will handle errors and validation messages
        });

    // stop the form from submitting the normal way and refreshing the page
    event.preventDefault();
});

});

   </script>

   <script>
    $(document).on("click","#addemployee",function(e){
       $("form#employee_info").valid()
       if(   $("form#employee_info").valid()=== true
    ){
       var employee_form_data={};
       var employee_data=   $("form#employee_info").serializeArray();
       $.each(employee_data,function(i,result){
          employee_form_data[result.name]=result.value;
       });
       $.ajax({
          url:'/employee',
          type:'post',
          data:{employee_form_data},
          success:function(data){
             alert('submitted successfully');
             location.reload();
          },
          error:function(data){
             alert('some error occur');
          }
          
       })
    }else{
       alert('Please enter all the fields');
    }
    })
    
    $(document).on('click','table.emp_table tr:gt(0)',function(e){
      
       console.log(e.target);
       console.log($(this).attr("id"));
    
       var id= $(this).attr("id");
      // alert(id);
      // window.location.replace(`http://${window.location.host}/update_employee?id=${id}`);
       // window.location.replace(`http://localhost:3000/update_employee?id=${id}`);
       
           $.redirect("/update_employee", {id: id }, "POST", "_self"); 
           
    })
    
    
    
    </script>