<div class="container">
    <h2>Employee Records</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Employee</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          
          <th>id</th>
          <th>Name</th>
          
          <th>Position</th>
          <th>Address</th>
          <th>Phone</th>
         
          
          <th>Enrolled Date</th>
          
        </tr>
      </thead>
      <tbody>
        <% employee_info.forEach(function(result) { %>   
         
        <tr>
          <td><%= result.sn %></td>
          <td><%= result.name %></td>
          <td><%= result.position %></td>
          <td><%= result.address %></td>
          <td><%= result.phone_no %></td>
        
         
          <script>
          
          </script>
          <td><%= result.date_of_joining %></td>

          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-employeeid="<%= result.id %>" data-id="<%= result.sn %>" data-name="<%= result.name %>" data-address="<%= result.address %>" data-phone_no="<%= result.phone_no %>" data-position="<%= result.position %>" data-salary="<%= result.salary %>" data-date_of_joining="<%= result.date_of_joining %>">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= result.id %>">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

	<!-- Add New Product Modal-->
	  <form action="/addemployee" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               
                
                <div class="form-group">
                    <input type="number" name="empid" class=" form-control" placeholder="Serial Number" required>
                </div>
 
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                </div>

                <select  class="form-control mb-3 position" name="position">
                              
                    <% employee_position.forEach(function(result1) { %>   
                     <option value="<%= result1.position  %>"><%= result1.position  %></option>
                    <% }) %>
                   </select>
 
                <div class="form-group">
                 <input type="text" name="address" class="form-control" placeholder="Address" required>
             </div>
             <div class="form-group">
                 <input type="number" name="phone_no" class="form-control" placeholder="Phone Num" required>
             </div>
 
             <div class="form-group">
                 <input type="number" name="salary" class="form-control" placeholder="Salary" required>
             </div>
             <div class="form-group">
                 <input type="date" name="date_of_joining" class="form-control"  placeholder="Date of Enrollment" required>
             </div>


             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Product Modal-->
   <form action="/updateemployee" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <input type="hidden" name="id" class="employeeid form-control" placeholder="id" required>
                </div>
                <div class="form-group">
                    <input type="number" name="sn" class="id form-control" placeholder="Serial Number" required>
                </div>
 
                <div class="form-group">
                    <input type="text" name="name" class="name form-control" placeholder="Full Name" required>
                </div>
                <select  class="form-control mb-3 position" name="position">
                              
                    <% employee_position.forEach(function(result1) { %>   
                     <option value="<%= result1.position  %>"><%= result1.position  %></option>
                    <% }) %>
                   </select>
 
                <div class="form-group">
                 <input type="text" name="address" class="address form-control" placeholder="Address" required>
             </div>
             <div class="form-group">
                 <input type="number" name="phone_no" class="phone form-control" placeholder="Phone Num" required>
             </div>
 
           
          
             <div class="form-group">
                 <input type="date" name="date_of_joining" class="date_of_joining form-control" placeholder="Date of Enrollment" required>
             </div>
 
 
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="product_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/deleteemployee" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Floor</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id" class="form-control id" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

      <script>
        $(document).ready(function(){
                //showing data to modal for edit record
          $('#mytable').on('click','.edit',function(){
              var employeeid = $(this).data('employeeid');
            var id = $(this).data('id');
            var name = $(this).data('name');
            var address = $(this).data('address');
            var phone = $(this).data('phone_no');
            var position = $(this).data('position');
            var salary = $(this).data('salary');
            var enrolled_date = $(this).data('date_of_joining');

            $('#EditModal').modal('show');
            $('.employeeid').val(employeeid);
            $('.id').val(id);
            $('.name').val(name);
            $('.address').val(address);
            $('.phone').val(phone);
            $('.position').val(position);
            $('.salary').val(salary);
            $('.date_of_joining').val(enrolled_date)

          });
                //showing modal for  delete record
                $('#mytable').on('click','.delete',function(){
            var product_id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.id').val(product_id);
          });
    
        });
    </script>
    