<div class="row">
        <div class="col-md-6">
              <table class="table table-striped">
                    <tbody>
                       <tr>
                          <td colspan="1">
                             <form id="employee_info" onkeypress="return event.keyCode !=13;" onsubmit="return false;" class="well form-horizontal">
                                <fieldset>
                                   <div class="form-group">
                                      <label class="col-md-4 control-label">Position Name</label>
                                      <div class="col-md-8 inputGroupContainer">
                                         <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="position" name="position" placeholder="Position Name" class="form-control" required="true" value="" type="text"></div>
                                      </div>
                                   </div>
                                   <div class="form-group">
                                      <label class="col-md-4 control-label">Basic Salary(<span style="color:red;size:10px;">in month</span>)</label>
                                      <div class="col-md-8 inputGroupContainer">
                                         <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="basic_salary" name="basic_salary" placeholder="Basic Salary"  class="form-control" required="true" value="" type="number"></div>
                                      </div>
                                   </div>
                                   <div class="form-group">
                                    <label class="col-md-4 control-label">Overtime Salary(<span style="color:red;size:10px;">in month</span>)</label>
                                    <div class="col-md-8 inputGroupContainer">
                                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="basic_salary" name="basic_salary" placeholder="Basic Salary"  class="form-control" required="true" value="" type="number"></div>
                                        </div>
                                 </div>
                                 <div class="form-group">
                                        <label class="col-md-4 control-label">Travelling Allowance(<span style="color:red;size:10px;">in month</span>)</label>
                                        <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="travelling_allowance" name="travelling_allowance" placeholder="Travelling Allowance"  class="form-control" required="true" value="" type="number"></div>
                                            </div>
                                     </div>

                                     <div class="form-group">
                                            <label class="col-md-4 control-label">Housing Rent Allowance(<span style="color:red;size:10px;">in month</span>)</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="housing_rent" name="housing_rent" placeholder="Housing & Rent Allowance"  class="form-control" required="true" value="" type="number"></div>
                                                </div>
                                         </div>

                                         <div class="form-group">
                                                <label class="col-md-4 control-label">Telephone Allowance(<span style="color:red;size:10px;">in month</span>)</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="telephone_allowance" name="telephone_allowance" placeholder="Telephone Allowance"  class="form-control" required="true" value="" type="number"></div>
                                                    </div>
                                             </div>

                                             <div class="form-group">
                                                    <label class="col-md-4 control-label">Lunch Allowance(<span style="color:red;size:10px;">in month</span>)</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="lunch_allowance" name="lunch_allowance" placeholder="Lunch Allowance"  class="form-control" required="true" value="" type="number"></div>
                                                        </div>
                                                 </div>

                                                 <div class="form-group">
                                                        <label class="col-md-4 control-label">Undertime Depreciation(<span style="color:red;size:10px;">in month</span>)</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="undertime_depreciation" name="undertime_depreciation" placeholder="Undertime Depreciation"  class="form-control" required="true" value="" type="number"></div>
                                                            </div>
                                                     </div>

                             
                                   <div class="form-group">
                                    
                                    <input class="btn btn-primary" id="addemployee">
                                 </div>
                                </fieldset>
                             </form>
                          </td>
                        </tr>
                    </tbody>
                 </table>
        </div>    
        <div class="col-md-6">
           
    <table class="table emp_table">
        <thead>
          <tr>
              <th>ID</th>
            <th>Position</th>
            <th>Basic Salary</th>
            <th>OT</th>
            <th>Travel Allowance</th>
            <th>Housing & Rent</th>
            <th>Tel. Allowance</th>
            <th>Lunch Allowance</th>
            <th>Undertime Depreciation</th>
          </tr>
        </thead>
    
         
    
    <%  employee_info.forEach(function(result){  %>
        <tr id="<%= result.id %>">
              <td><%= result.id  %></td>
    
       <td><%= result.position  %></td>
       <td><%= result.basic_salary  %></td>
       <td><%= result.overtime_salary  %></td>
       <td><%= result.travelling_allowance  %></td>
       <td><%= result.housing_rent  %></td>
       <td><%= result.telephone_allowance  %></td>
       <td><%= result.lunch_allowance  %></td>
       <td><%= result.undertime_depreciation  %></td>
       </tr>
    <%  })  %>
      
        </table>
    
        </div>
       </div>
    
       <script>
       $(document).ready(function() {
    
    // process the form
    $('form').submit(function(event) {
    
        // get the form data
        // there are many ways to get this data using jQuery (you can use the class or id also)
        var formData = {
            'name'              : $('input[name=name]').val(),
            'email'             : $('input[name=email]').val(),
            'superheroAlias'    : $('input[name=superheroAlias]').val()
        };
    
        // process the form
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : 'process.php', // the url where we want to POST
            data        : formData, // our data object
            dataType    : 'json', // what type of data do we expect back from the server
                        encode          : true
        })
            // using the done promise callback
            .done(function(data) {
    
                // log data to the console so we can see
                console.log(data); 
    
                // here we will handle errors and validation messages
            });
    
        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });
    
    });
    
       </script>
    
       <script>
        $(document).on("click","#addemployee",function(e){
           $("form#employee_info").valid()
           if(   $("form#employee_info").valid()=== true
        ){
           var employee_form_data={};
           var employee_data=   $("form#employee_info").serializeArray();
           $.each(employee_data,function(i,result){
              employee_form_data[result.name]=result.value;
           });
           $.ajax({
              url:'/employee',
              type:'post',
              data:{employee_form_data},
              success:function(data){
                 alert('submitted successfully');
                 location.reload();
              },
              error:function(data){
                 alert('some error occur');
              }
              
           })
        }else{
           alert('Please enter all the fields');
        }
        })
        
        $(document).on('click','table.emp_table tr:gt(0)',function(e){
          
           console.log(e.target);
           console.log($(this).attr("id"));
        
           var id= $(this).attr("id");
          // alert(id);
          // window.location.replace(`http://${window.location.host}/update_employee?id=${id}`);
           // window.location.replace(`http://localhost:3000/update_employee?id=${id}`);
           
               $.redirect("/update_employee", {id: id }, "POST", "_self"); 
               
        })
        
        
        
        </script>