<div class="container">
        <h2>Employee Records</h2>
            <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Employee</button>
        <table class="table table-striped" id="mytable">
          <thead>
            <tr>
              
                    <th>ID</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Basic Salary</th>
                    <th>OT</th>
                    <th>Travel Allow.</th>
                    <th>Housing & Rent</th>
                    <th>Tel. Allow.</th>
                    <th>Lunch Allow.</th>
                    
              
            </tr>
          </thead>
          <tbody>
            <% employee_info.forEach(function(result) { %>   
             
            <tr>
                    <td><%= result.id  %></td>
                    <td><%= result.position  %></td>
                    <td><%= result.department_name  %></td>
                    
                    <td><%= result.basic_salary  %></td>
                    <td><%= result.overtime_salary  %></td>
                    <td><%= result.travelling_allowance  %></td>
                    <td><%= result.housing_rent  %></td>
                    <td><%= result.telephone_allowance  %></td>
                    <td><%= result.lunch_allowance  %></td>
    
              <td>
                <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= result.id %>" data-position="<%= result.position %>" data-department_name="<%= result.department_name %>" data-basic_salary="<%= result.basic_salary %>" data-overtime_salary="<%= result.overtime_salary %>" data-travelling_allowance="<%= result.travelling_allowance %>" data-housing_rent="<%= result.housing_rent %>" data-telephone_allowance="<%= result.telephone_allowance %>" data-lunch_allowance="<%= result.lunch_allowance %>"  >Edit</a>
                <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= result.id %>">Delete</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    
        <!-- Add New Product Modal-->
          <form action="/addposition" method="post">
            <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Add New Position</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">   
                   
                    
                    <div class="form-group">
                        <input type="text" name="position" class=" form-control" placeholder="Position Name" required>
                    </div>

                
                  <select  class="form-control mb-3" name="department_name">
                   <% employee_department.forEach(function(result1) { %>   
                    <option value="<%= result1.department_name  %>"><%= result1.department_name  %></option>
                   <% }) %>
                  </select>
     
                    <div class="form-group">
                        <input type="number" name="basic_salary" class="form-control" placeholder="Basic Salary(in month)" required>
                    </div>
     
                    <div class="form-group">
                     <input type="number" name="overtime_salary" class="form-control" placeholder="Overtime Salary(in month)" required>
                 </div>
                 <div class="form-group">
                     <input type="number" name="travelling_allowance" class="form-control" placeholder="Travelling Allowance" required>
                 </div>
     
                 <div class="form-group">
                     <input type="number" name="housing_rent" class="form-control" placeholder="Housing & Rent" required>
                 </div>
                 <div class="form-group">
                  <input type="number" name="telephone_allowance" class="form-control" placeholder="Telephone Allowance" required>
              </div>
                 <div class="form-group">
                     <input type="number" name="lunch_allowance" class="form-control" placeholder="Lunch Allowance" required>
                 </div>
                
    
    
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-primary">Save</button>
                 </div>
               </div>
             </div>
            </div>
         </form>
    
         <!-- Edit Product Modal-->
       <form action="/updateposition" method="post">
           <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Position</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>                                                
                <div class="modal-body">
                    
                  <div class="form-group">
                    <input type="hidden" name="id" class="id form-control" placeholder="id" required>
                </div>   
                        <div class="form-group">
                                <input type="text" name="position" class=" form-control position" placeholder="Position Name" required>
                            </div>
                            <select  class="form-control department_name mb-3" name="department_name">
                              
                                <% employee_department.forEach(function(result1) { %>   
                                 <option value="<%= result1.department_name  %>"><%= result1.department_name  %></option>
                                <% }) %>
                               </select>
             
                            <div class="form-group">
                                <input type="number" name="basic_salary" class="form-control basic_salary" placeholder="Basic Salary(in month)" required>
                            </div>
             
                            <div class="form-group">
                             <input type="number" name="overtime_salary" class="form-control overtime_salary" placeholder="Overtime Salary(in month)" required>
                         </div>
                         <div class="form-group">
                             <input type="number" name="travelling_allowance" class="form-control travelling_allowance" placeholder="Travelling Allowance" required>
                         </div>
             
                         <div class="form-group">
                             <input type="number" name="housing_rent" class="form-control housing_rent" placeholder="Housing & Rent" required>
                         </div>
                         <div class="form-group">
                          <input type="number" name="telephone_allowance" class="form-control telephone_allowance" placeholder="Telephone Allowance" required>
                      </div>
                         <div class="form-group">
                             <input type="number" name="lunch_allowance" class="form-control lunch_allowance" placeholder="Lunch Allowance" required>
                         </div>
                        
            
     
                </div>
                <div class="modal-footer">
                  <input type="hidden" name="id" class="product_id">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
           </div>
      </form>
    
         <!-- Delete Product Modal-->
           <form id="add-row-form" action="/deleteposition" method="post">
              <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                             <h5 class="modal-title" id="myModalLabel">Delete Position</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                                                     <strong>Are You Sure To Delete This Data?</strong>
                        </div>
                        <div class="modal-footer">
                                                 <input type="hidden" name="id" class="form-control id" required>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                               <button type="submit" class="btn btn-success">Delete</button>
                        </div>
                           </div>
                 </div>
              </div>
          </form>
    
          <script>
            $(document).ready(function(){
                    //showing data to modal for edit record
              $('#mytable').on('click','.edit',function(){
                var id = $(this).data('id');
                var position = $(this).data('position');
                var basic_salary = $(this).data('basic_salary');
                var overtime_salary = $(this).data('overtime_salary');
                var travelling_allowance = $(this).data('travelling_allowance');
                var housing_rent = $(this).data('housing_rent');
                var telephone_allowance = $(this).data('telephone_allowance');
                var lunch_allowance = $(this).data('lunch_allowance');
                var department_name = $(this).data('department_name');
               
    
                $('#EditModal').modal('show');
                $('.id').val(id);
                $('.position').val(position);
                $('.basic_salary').val(basic_salary);
                $('.overtime_salary').val(overtime_salary);
                $('.travelling_allowance').val(travelling_allowance);
                $('.housing_rent').val(housing_rent);
                $('.telephone_allowance').val(telephone_allowance);
                $('.lunch_allowance').val(lunch_allowance);
                $('.department_name').val(department_name);
               
              });
                    //showing modal for  delete record
                    $('#mytable').on('click','.delete',function(){
                var product_id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.id').val(product_id);
              });
        
            });
        </script>
        