<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="img/ansulogo.png" alt="Ansu ERP Logo" class="brand-image "
         style="opacity: .8">
    <span class="brand-text font-weight-light">Ansu ERP v0.1</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Sworgadwari Consultancy</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a href="/dashboard" class="nav-link">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
         
        <li class="nav-item">
          <a href="/voucher" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>                  <p>
              Voucher
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/stock" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Stock
            </p>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/employee" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
              Employee Management
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/attendance" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
              Attendance System
            </p>
          </a>
        </li>

        <!-- <li class="nav-item">
          <a href="/billing" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
              Billing
            </p>
          </a>
        </li> -->

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  <p>
              Report
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Daybook
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/daybook" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>View Daybook</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/daybook" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Alter Daybook</p>
                  </a>
                </li>
                
              </ul>
            </li>
        
            
           
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Ledger
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/ledger" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>View Ledger</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/ledger" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Alter Ledger</p>
                  </a>
                </li>
                
              </ul>
            </li>
            <li class="nav-item">
              <a href="trialbalance.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Trial Balance</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="balancesheet.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Balance Sheet</p>
              </a>
            </li>
        
        

      </ul>
      </li>

      <li class="nav-item">
        <a href="/logout" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
            Logout
          </p>
        </a>
      </li>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>