
<footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>Version</b> 1.0.1
        </div>
        <strong>Copyright &copy; 2019 <a href="http://ansunepal.com">Ansu ERP</a>.</strong> All rights
        reserved.
      </footer>
       <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

      
<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
</body>
</html>
