<% include ../partials/vhead %>
<link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include ../partials/vnav6 %>

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <% include ../partials/vaside %>

  <div class="content-wrapper">


        <% include ../partials/department %>
     
    
  </div>
  <% include ../partials/vfoot %>
