<% include ../partials/vhead %>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include ../partials/vnav %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <% include ../partials/vaside %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Blank Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

     <main class="page-content">

        <% include ../partials/payment %>
        <% include ../partials/accountinformation %>
            </main>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/nepali-date-picker@2.0.0/dist/jquery.nepaliDatePicker.min.js" integrity="sha384-bBN6UZ/L0DswJczUYcUXb9lwIfAnJSGWjU3S0W5+IlyrjK0geKO+7chJ7RlOtrrF" crossorigin="anonymous"></script>
    <script>
    <% if(paymentno[0]!==undefined){ %>
    var paymentno = parseInt(`<%= paymentno[0]['transactionno'] %>`) + 1

    <% } else { %>

    var paymentno = 1;
    <% } %>

    console.log(paymentno);

    <% if(receiptno[0]!==undefined){ %>
    var receiptno = parseInt(`<%= receiptno[0]['transactionno'] %>`) + 1;

    <% } else { %>

    var receiptno = 1;
    <% } %>

    console.log(receiptno);

    <% if(contrano[0]!==undefined){ %>
    var contrano = parseInt(`<%= contrano[0]['transactionno'] %>`) + 1;

    <% } else { %>

    var contrano = 1;
    <% } %>
    <% if(journalno[0]!==undefined){ %>
    var journalno = parseInt(`<%= journalno[0]['transactionno'] %>`) + 1;

    <% } else { %>

    var journalno = 1;
    <% } %>
    <% if(purchaseno[0]!==undefined){ %>
    var purchaseno = parseInt(`<%= purchaseno[0]['purchaseno']%>`) + 1;

    <% } else { %>

    var purchaseno = 1;
    <% } %>
    <% if(salesno[0]!==undefined){ %>
    var salesno = parseInt(`<%= salesno[0]['salesno']%>`) + 1;

    <% } else { %>

    var salesno = 1;
    <% } %>


    $('button.printbutton').on('click',function(e)
    {
   
        var transactiontitle= $('#transactiontitle').text();
        var voucherno= $('#transactionno').text();
 var dated=$('#datemodify').val();
var printbilldata='';

  printbilldata+=`<div class="ml-2 mt-2" style="width:500px !important; font-weight:bold; font-size:15px !important;"><h5 class="text-center">Jhimjhime Suppliers</h5><h6 class="text-center">Sainamaina-10,Jhimjhime</h6> <br/><br/><h6>${transactiontitle} Voucher
  </h6><br/><br/><label>No: ${voucherno}</label><label class="float-right">Date:${dated}</div>`;  


<% /*
var panno=$('.panno').text();
 var totalamount=Number($('#totalamount').val());
var discountamount=$('#discountamount').val();
var discountpercent=$('#discountpercent').val();
var servicecharge=$('#servicechargeamount').val();
var grandtotalamount=$('#grandtotalamount').val();
var paymentreceived= $('#paymentreceived').val();
var balancedue=$('#balancedue').val(); */ %>

  var itemlisttable=`<div class="row ml-2"><div class="col-md-7"></div><div class="col-md-5"></div></div>`;

console.log(itemlistresult);
  for(i=0;i<itemlistresult.length;i++)
   {
    
   itemlisttable+=`<tr style="margin-top:5px;"
    class="text-center ">
			<td>${itemlistresult[i].itemname}</td>
			<td>${itemlistresult[i].quantity}</td>
			<td>${itemlistresult[i].price}</td>
			<td>${itemlistresult[i].amount}</td>
		</tr>`;	
    
   }
  itemlisttable+=`</table>`;

var finallist=`<div class="mt-1"  style="width:250px !important; font-size:15px !important; text-align:right;"><label>Subtotal:Rs.${totalamount}</label></br><label>Service Charge:Rs.${servicecharge}</label></br><label>Discount amount:Rs.${discountamount}</label></br><label>Invoice total:Rs.${grandtotalamount}</label></br><label>Payment Received:Rs.${paymentreceived}</label></br><label>Balance due:Rs.${balancedue}</label></div>`;
    popupWin = window.open("");
        popupWin.document.open();
        popupWin.document.write(`
          <html>
            <head>
            <meta charset='utf-8'>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            </head>
           <style>

    body {
  
        font-family:Arial, Helvetica, sans-serif !important;
        color:black !important;
    }


           </style>
        <body >
      ${printbilldata}${pandata}${billdate}${customerdetails}${itemlisttable}${finallist}
        </body>

          </html>`
        );

        setTimeout(function() {
    popupWin.print();
    popupWin.close();
}, 100);
    

    if(transactiontitle==='Payment' || transactiontitle==='Receipt' || transactiontitle==='Journal')
    {

    }
    else if(transactiontitle==='Purchase')
    {

    }
    else
    {

    }    
    })
    </script>

    <!-- using online scripts -->
    

    <!-- using local scripts -->
    <!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script> -->


    <script src="../js/main.js"></script>
    <script src="../js/sales.js"></script>
    <script src="../js/itemcreate.js"></script>
    <script src="../js/itemgroupcreate.js"></script>
    <script src="../js/itemcategorycreate.js"></script>
    <script src="../js/payment.js"></script>
    <script src="../js/unitcreate.js"></script>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/vfoot %>

 
</div>
<!-- ./wrapper -->
